@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', cursive;
}

:root {
    background: url(a.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 100vw;
    height: 100vh;
}

.app {
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
    margin-block: 45px;
}
 
.app h1 {
    font-size: 43px;
    border-bottom: 1px solid #333;
    color: black;
    margin: 20px 0;
    padding-bottom: 30px;
}

span {
    color: rgb(0, 102, 255);
}

/* Timer styles */
#timer {
    font-size: 24px;
    box-shadow: 0px 4px 8px rgba(24, 24, 24, 0.5);
    font-weight: bolder;
    color: #6EC207;
    margin-bottom: 20px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    width: 150px;
    margin: 0 auto;
    border: none;
}
/* Timer styles End */

.quiz h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 12px;
}

.quiz {
    padding: 20px 0;
}

.btn {
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    font-size: 20px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(255, 255, 255) 100%);
    color: #fff;
    transform: translateX(10px);
    transition: 0.5s;
}
.btn:disabled {
    cursor: no-drop;
}

.fa-solid.fa-copyright {
    font-size: 10px;
}

.end p {
    color: #fff;
    font-size: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    display: none;
    cursor: pointer;
}

.correct {
    background: #53ff9e;
}

.incorrect {
    background: #ff9393;
}

h1 {
    animation: my-animation 1s ease-in-out;
  }
  
  @keyframes my-animation {
    0% {
      transform: translateX(40%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 3;
    }
    
  }
@media screen and (max-width: 800px) {
   .app {
      margin-block-end: 20px;
    } 
    
    .end p {
        margin: 15px;
    }
}
   
@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        height: 118vh;
    }
    .btn:hover:not([disabled]) {
        background: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(255, 255, 255) 100%);
        color: #fff;
        transform: translateX(10px);
        transition: 0.5s;
    }
    .end p {
        font-size: 14px;
        margin-top: 15px;
    }
}





