@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
  background: url(a.png);
  background-repeat: no-repeat;
  background-size: cover;
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Nova Square', cursive;
}


h1 {
    font-size: 55px;
    color: #fff;
   margin-top: -100px;
  }

h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  color: #fff;
  margin-top: 90px;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    margin-block: -55px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn-1 {
    font-size: 30px;
    padding: 0.7rem 0;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    background: linear-gradient(90deg, rgb(184, 207, 255) 0%, rgb(0, 102, 255) 100%);
    margin-top: 35px;
}

.btn-1:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
    background: linear-gradient(90deg, rgb(255, 243, 243) 0%, rgb(0, 85, 212) 100%);
}


.btn-1, [disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

.end p {
    color: #fff;
    font-size: 20px;
    margin: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
    animation: my-animation 1s ease-in-out;
  }
  
  @keyframes my-animation {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 3;
    }
  }

  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 30px;
      text-align: center;
    }

    .btn-1{
      width: 30%;
      padding: 0.5rem 0;
      font-weight: 500;
    }

  }

  
  @media only screen and (max-width: 600px) {
    .container {
      margin-block-end: 25px;
      margin-block-start: -55px;
    }


    h1 {
        font-size: 23px;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
     }
  
    h2 {
       font-size: 25px;
    }


     .btn-1 {
        font-size: 20px;
        width: 40%;
        border-radius: 25px;
     }
    
    .end p {
      color: #fff;
      font-size: 13px;
      text-align: center;
      margin: 20px;
    }
  }